body{
    background-color: purple;
}
.backround_main{
    font-family: 'Montserrat', sans-serif;
    margin-top: -20px;
    background: url(images/background.jpg);
    width: 100%;
    height: 800px;
}
.table_nav{
    margin-left: 130px;
    border-bottom:1px solid purple;
}
.ugly_text{
    margin-left: -45px;
    color: white;
}
.ugly_td{
    width: 650px;
}
a{
    text-decoration: none;
}
.td_second{
    color: white;
}
.td_home{
    width: 70px;
}
.td_serv{
    width: 100px;
}
.td_facebook{
    width: 110px;
}
.td_insta{
    width: 120px;
}
.main_about{
    display: flex;
    flex-direction: column;
}
.about_zag{
    margin-top: 200px;
    margin-left: 130px;
}
.zag_text{
    color: white;
}
.about_desc{
    color: #d3d3d3;
    margin-left: 130px;
}
.main_buttons{
    display: flex;
    flex-direction: row;
}
.discord{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 120px;
}
.discord_text{
    text-decoration:none;
    display: block;
    width: 120px;
    height: 20px;
    border-radius: 15px;
    background-color: RoyalBlue;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.discord_logo{
    margin-top: 8px;
    margin-left: -155px;
}
.steam{
    margin-left: 80px;
    display: flex;
    flex-direction: row;    
}
.steam_text{
    text-decoration:none;
    margin-top: 40px;
    margin-left: 150px;
    text-decoration:none;
    display: block;
    width: 120px;
    height: 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

    color: white;
}
.steam_logo{
    margin-top: 47px;
    margin-left: -150px;
}
.discord_text:hover{
    background: rgb(29,33,242);
    background: linear-gradient(90deg, rgba(29,33,242,1) 29%, rgba(0,18,255,1) 68%);
}
.steam_text:hover{
    background: rgb(74,66,66);
    background-color: linear-gradient(90deg, rgba(74,66,66,1) 35%, rgba(41,41,43,1) 100%);
}
.home:hover{
    color: Silver;
}
.facebook:hover{
    color: Silver;
}
.instagram:hover{
    color: Silver;
}
.discord:hover{
    color: Silver;
}
.telegram:hover{
    color: Silver;
}
.services:hover{
    color: Silver;
}
.main_second{
    height: 500px;
    font-family: 'Londrina Solid', cursive;
    background-color: lightpink;
}
.hobbies{
    display: flex;
    flex-direction: column;
}
.hobbies_inner{
    text-align: center;
    font-size: 25px;
}
.hobbies_inner_sec{
    text-align: center;
    font-size: 25px;
}

.welcome_second{
    color: #7d7d7d;
}
.web{
    display: flex;
    flex-direction: column;
}
.web_img{
    margin-top: 90px;
    margin-left: 250px;
}
.web_text{
    margin-left: 275px;
}
.web_desc{
    color: #7d7d7d;
    margin-top: -30px;
    margin-left: 240px;
}
.three_hobbie{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.games_img{
    margin-top: 118px;
    margin-left: 170px;
}
.games_text{
    margin-left: 215px;
}
.games_desc{
    color: #7d7d7d;
    margin-top: -12px;
    margin-left: 140px;
}
.volleyball_img{
    margin-top: 50px;
    margin-left: 100px;
}
.volleyball_text{
    margin-top: -50px;
    margin-left: 205px;
}
.volleyball_desc{
    color: #7d7d7d;
    margin-left: 150px;
    margin-top: -13px;
}